.ooo-drink-lander-s1 .ooolander3_header.active {
    box-shadow: 0px 0px !important;
}
.ooo-drink-lander-s1 .ooolander3_header_nav {
    background: #E6EEE6;
}
.ooo-drink-lander-s2 {
    background: #e6eee6;
    background-image: none !important;
    padding-top: 0rem;
    height: auto;
}
.ooo-drink-lander-s2 .er-lp-heroSliderVariantB-contentInfo{ 
    align-items: unset;
    padding: 4vw 0 12vw;
}

.er-lp-heroSliderVariantB.ooo-drink-lander-s2 .er-lp-heroSliderVariantB-contentInfo .er-lp-heroSliderVariantB-contentText-div .er-lp-heroSliderVariantB-contentText-title, 
.er-lp-heroSliderVariantB.ooo-drink-lander-s2 .er-lp-heroSliderVariantB-contentInfo .er-lp-heroSliderVariantB-contentText-div .er-lp-heroSliderVariantB-contentText-stars, 
.er-lp-heroSliderVariantB.ooo-drink-lander-s2 .er-lp-heroSliderVariantB-contentInfo .er-lp-heroSliderVariantB-contentText-div .er-lp-heroSliderVariantB-contentText-subtitle, 
.er-lp-heroSliderVariantB.ooo-drink-lander-s2 .er-lp-heroSliderVariantB-contentInfo .er-lp-heroSliderVariantB-contentText-div .er-lp-heroSliderVariantB-contentText-list ul li, 
.ooo-drink-lander-s2 .er-lp-heroSliderVariantB-group-buttons .er-lp-heroSliderVariantB-contentText-link {
    color: #023940 !important;
}
.er-lp-heroSliderVariantB.ooo-drink-lander-s2 .er-lp-heroSliderVariantB-contentAnim .home_hero_animation_area dotlottie-player:before {
    background-color: #F4EFD0;
}


.ooo-drink-lander-s5 {
    background-color: #F4EFD0;
}
.outf_s6.ooo-drink-lander-s5 .h5,
.outf_s6.ooo-drink-lander-s5 .h2,
.ooo-drink-lander-s5 .outf_s6_colin .title,
.ooo-drink-lander-s5 .outf_s6_colin article,
.ooo-drink-lander-s5 .outf_s6_colin .name{
    color: #023940 !important;
}

.outf_s6.ooo-drink-lander-s5 .button_link a{
    background-color: #023940;
}
.ooo-drink-lander-s5 .outf_s6_colin {
    background-color: #FFFBE2;
}
.ooo-drink-lander-s5 .outf_s6_slider .slick-arrow {
    background-color: #E2DEB1;
}
.ooo-drink-lander-s5 .outf_s6_slider .prev-arrow {
    background-color: #D2DCC7;
}
.ooo-drink-lander-s5 .svg_bottom svg path{
  fill:#E6EEE6;
}




.outf_s8.ooo-drink-lander-s6{
    background-color: #E6EEE6;
}
.outf_s8.ooo-drink-lander-s6 .inner .h5,
.outf_s8.ooo-drink-lander-s6 .inner .h2,
.outf_s8.ooo-drink-lander-s6 .accordion_body .col .accordion_hand,
.outf_s8.ooo-drink-lander-s6 .accordion_body .col .accordion_content article p{
    color: #023940 !important;
}
.outf_s8.ooo-drink-lander-s6 .accordion_body .col .accordion_content article {
    background-color: #E2DEB1;
}
.outf_s8.ooo-drink-lander-s6 .accordion_body .col {
    padding-bottom: 10px;
    border-bottom: 2px solid #023940;
}


/* End styles Top Floating Image */
.outf_s4.ooo-drink-lander-s7 .outf_s4_img{
      display: none;
}
.outf_s4.ooo-drink-lander-s7 .svg_top path{fill:#e6eee6}
.ooo-drink-lander-s7 .outf_s4_in {
    background-color: #FFFCE8;
}
.outf_s4.ooo-drink-lander-s7 .right_in .h5,
.outf_s4.ooo-drink-lander-s7 .right_in .h2,
.outf_s4.ooo-drink-lander-s7 .accordion_body .col .accordion_hand{color: #023940!important;}
.outf_s4.ooo-drink-lander-s7 .accordion_body .col .accordion_content article{
    background-color: #E2DEB1;
}
.outf_s4.ooo-drink-lander-s7 .accordion_body .col .accordion_content article p{
    color: #023940 !important;
}
.outf_s4.ooo-drink-lander-s7 .accordion_body .col .accordion_hand span svg ellipse{
    stroke: #023940;
}
.outf_s4.ooo-drink-lander-s7 .accordion_body .col .accordion_hand span svg path{
    fill: #023940;
}
.outf_s4.ooo-drink-lander-s7 .button_link a {
    color: #023940;
    background-color: #D2DCC7;
}
.outf_s4.ooo-drink-lander-s7 .button_link a:hover {
    color: #EBEFFF;
    background-color: #023940;
}

.outf_s4.ooo-drink-lander-s7 .svg_bottom svg path{
  fill:#E6EEE6;
}




.outf_s5_usvsthem.ooo-drink-lander-s8 {
    background-color: #E6EEE6;
}
.ooo-drink-lander-s8 .outf_s5_uvt_in .col .col1, 
.ooo-drink-lander-s8 .outf_s5_uvt_in .col .col3 {
    border-bottom: 2px solid #023940;
}
.ooo-drink-lander-s8 .outf_s5_uvt_in .col .col2 p {
    color: #EBEFFF !important;
}



.outf_s7.ooo-drink-lander-s9 .svg_top svg path {
    fill: #E6EEE6;
}
.outf_s7.ooo-drink-lander-s9 .left {
    background-color: #C9D1F0;
}
.outf_s7.ooo-drink-lander-s9 .left .h5,
.outf_s7.ooo-drink-lander-s9 .left .h2,
.outf_s7.ooo-drink-lander-s9 .left article ul li{    color: #023940 !important;}
.outf_s7.ooo-drink-lander-s9 .left article ul li .svg svg circle{
    fill: #023940;
    stroke: #023940;
}
.outf_s7.ooo-drink-lander-s9 .left .button_link a {
    background-color: #023940;
}
.outf_s7.ooo-drink-lander-s9 .left .button_link a:hover{
    background-color:#E2DEB1;
}

.outf_s7.ooo-drink-lander-s9 .svg_bottom svg path {
    fill: #F4EFD0;
}



.outf_s9.ooo-drink-lander-s10 {
    background-color: #f4efd0;
}
.outf_s9.ooo-drink-lander-s10 .h2{
    color: #023940 !important;
}
.outf_s9.ooo-drink-lander-s10 .outf_s9_form .klaviyo-form form.klaviyo-form>.needsclick>.needsclick>.needsclick input{
    background-color: #f4efd0 !important;
    border-bottom: 2px solid #023940 !important;
}
.outf_s9_form .klaviyo-form form.klaviyo-form>.needsclick>.needsclick>.needsclick:last-child button{
  background-color: #023940 !important;
}



.shopify-section-group-header-group.section-header.scrolled-past-header .header-wrapper {
    background-color: #E6EEE6 !important;
}


